.container {
  width: 100%;
  height: 400px;
  background-color: #e6eaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
  background-image: url("./assets/banner.png");
}

.header {
  font-size: 48px;
  color: white;
}

.input {
  padding: 6px 12px;
  width: 210px;
  text-align: center;
  margin-top: 12px;
  outline: none;
  border: 1px solid #b8c0c1;
  border-radius: 4px;
  font-size: 14px;
}

.text {
  max-width: 680px;
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 24px;
  line-height: 24px;
  letter-spacing: 0.6px;
}
